* {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7;
}
.flex-center-wrap {
    display: flex;
    flex-direction: column;
    margin: 6em auto;
}

.flex-center-item {

}

.button-main {
    padding: 1em 2em;
    margin: 2em auto;
}

.link-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #f8f9fa;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #f8f9fa;
}

.game-board-wrap {
    width: 60vw;
    min-width: 60vw;
    max-width: 60vw;
    display: flex;
}

.game-board-wrap .point {
    flex-direction: row;
}

/*.game-board-wrap .point .game-board-item {*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
/*}*/

.game-board-item {
    width: 16vw;
    height: 16vw;
    min-height: 16vw;
    min-width: 16vw;
    font-size: 13vw;
    line-height: 16vw;
    text-align: center;
    vertical-align: middle;
}

hr .vertical {
    border: none;
    border-left: 1px solid black;;
    width: 2px;
    background-color: black;
    height: 16vw;
    margin: 0;
    padding: 0;
}